<div class="container">
  <div class="row">
    <div class="col-12">
      <form class="p-5" [formGroup]="formValidator">
        <div class="mb-3">
          <label for="numbers" class="form-label">Solo numeros</label>
          <input
            type="text"
            class="form-control"
            formControlName="numbers"
            inputController="number"
            [formControl]="formValidator.controls.numbers"
          >
        </div>

        <div class="mb-3">
          <label for="onlyLetters" class="form-label">Solo texto</label>
          <input
            type="text"
            class="form-control"
            formControlName="onlyText"
            inputController="only-letters"
            [formControl]="formValidator.controls.onlyText"
          >
        </div>

        <div class="mb-3">
          <label for="alphanumeric" class="form-label">Alfanumerico</label>
          <input
            type="text"
            class="form-control"
            formControlName="alpha"
            [formControl]="formValidator.controls.alpha"
            inputController="alphanumeric"
          >
        </div>

        <div class="mb-3">
          <label for="financial" class="form-label">Moneda</label>
          <input
            type="text"
            class="form-control"
            formControlName="financial"
            inputController="financial"
          >
        </div>

      </form>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <pre>
        {{ formValidator.getRawValue() | json }}
      </pre>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <pre>
        {{ formValidator.errors| json }}
      </pre>
    </div>
  </div>
</div>
